.btn-success{
border-radius:5px !important;	
	
}.jumb{
	margin:0 auto;
	float:none;
}
.btttn{
	float:right;
}
.tope{
	padding-bottom:90px;
}





.btttn{
	float:right;
}
.tope{
	padding-bottom:90px;
}
.center{
	padding-left:140px!important;
}
.pad{
	padding-top:40px;
}
.jumb{
	margin:0 auto;
	float:none;
	
}
.emp{
	padding-top:30px;
}
.jumboo{
	margin:0 auto;
	float:none;
	background-color:#fff;
}
.map{
	padding-top:20px;
	padding-bottom:120px;
}
.footer{
	background:#eeeeee;
}
.ques{
padding-top:20px;
}
.checks h5{
	font-weight:bold;
}